@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Back-end developer Denis Shvetsov.</p>
<p>Front-end designed by Vito Moto.</p>
<p>U can check out our main work "Vinewood RP" by link <link href="vk.com/vinewoodrp" rel="search" /> </p>
