@{
    ViewData["Title"] = "Главная страница";
}

<div class="main-page">

    <p />

        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000" style="margin: 40px;">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/images/banner1.png" alt="ASP.NET" class="img-responsive" />
                    <div class="carousel-caption" role="option">
<p>
                        Лучшие предложения по аренде недвижимости в Украине.
                        <a class="btn btn-default" href="PropertyForRents/ValidPropertiesList">
                            Подробнее
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/banner2.png" alt="Visual Studio" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Связь с нами в любое время!
                        <a class="btn btn-default" href="Home/Contact">
                            Подробнее
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/banner3.png" alt="Package Management" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Сами о себе... Вся нужная клиентам информация о нашем агентстве.
                        <a class="btn btn-default" href="Home/About">
                            Подробнее
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Назад</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Далее</span>
        </a>
    </div>

    <p>
        Недвижимость в Украине относится к самым дорогим объектам отечественного рынка.
        Это утверждение в равной мере справедливо и для жилых объектов, и для коммерческой недвижимости.
    </p>
    <blockquote>У города достаточно высокий курортный потенциал, к тому же Одесса является крупным транспортным узлом и просто большим городом с отлично развитой инфраструктурой.</blockquote>
    <p>
    Одесса в принципе уникальна, ее можно назвать государством в государстве: этот город имеет собственный неповторимый жизненный уклад,
    особую уникальную культуру и богатую историю. Не всякий коренной житель может похвастаться доскональным знанием хотя бы только удивительных
    архитектурных памятников города. Одессу можно изучать годами, она никогда не надоест и не перестанет удивлять.</p>


    <p />Каждый одессит не раз видел объявления от частных лиц или агентств, в которых говорилось о намерении купить недвижимость в Одессе, сдать жилплощадь или офис, произвести обмен жилья.

    <blockquote>
        Закономерно отличаются мнения горожан о том, каким образом лучше осуществлять сделки, предметом которых является недвижимость Одессы.</blockquote>

    <p />Кто-то предпочитает действовать с поддержкой риэлторов. Доводы этих людей вполне понятны: не всякий решится выйти на незнакомый рынок недвижимости в Одессе, не имея о нем достаточной информации и не зная, какие подводные камни могут его поджидать при заключении сделок. Другая категория продавцов, покупателей, арендаторов предпочитает продавать (или, соответственно, покупать и арендовать) недвижимость в Одессе без посредников.

    <p />Наш портал предлагает ознакомиться с предложениями «недвижимость в Одессе», которые подали и сами собственники, и крупные агентства.
    <p />Мы собрали самую полную базу, в которой есть предложения и спрос по вопросам покупки, обмена, продажи, аренды недвижимости в Одессе.

    <p />Таким образом, каждый, кого интересует покупка, обмен, продажа недвижимости в Одессе сможет найти интересное для себя предложение и подходящего делового партнера.

    <p />Помимо предложений, касающихся операций с недвижимостью, наш портал будет интересен и тем, кого интересуют новости недвижимости в Одессе и других городах Украины.
</div>