@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">We are sorry, but an error occurred while processing your request.</h2>
<h2 class="text-danger">Error message: @ViewBag.ErrorMessage.</h2>

<a asp-controller=@ViewBag.BackController asp-action=@ViewBag.BackAction>Go back and try one more time</a>

