@model BuildingAgency.Models.PropertyForRent

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>PropertyForRent</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PropertyId" />
        <div class="form-group">
            <label asp-for="PropertyNo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PropertyNo" class="form-control" />
                <span asp-validation-for="PropertyNo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="City" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Street" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PostCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PostCode" class="form-control" />
                <span asp-validation-for="PostCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Rooms" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Rooms" class="form-control" />
                <span asp-validation-for="Rooms" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Rent" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Rent" value="@Model.Rent.ToString().Replace(",", ".")" class="form-control" />
                <span asp-validation-for="Rent" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OwnerId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="OwnerId" class="form-control" asp-items="ViewBag.OwnerId"></select>
                <span asp-validation-for="OwnerId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OverseesById" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="OverseesById" class="form-control" asp-items="ViewBag.OverseesById"></select>
                <span asp-validation-for="OverseesById" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
