@model BuildingAgency.Models.Contract

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Contract</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PropertyId" class="col-md-2 control-label">Property No</label>
            <div class="col-md-10">
                <select asp-for="PropertyId" class ="form-control" asp-items="ViewBag.PropertyId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PaymentMethod" class="col-md-2 control-label">Payment Method</label>
            <div class="col-md-10">
                <select asp-for="PaymentMethod" class="form-control" asp-items="ViewBag.PaymentMeth"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Paid" />
                    <label asp-for="Paid">Already paid</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RentStart" class="col-md-2 control-label">Rent start</label>
            <div class="col-md-10">
                <input asp-for="RentStart" class="form-control" type="date">
                <!--input asp-for="RentStart" class="form-control" />-->
                <span asp-validation-for="RentStart" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="RentFinish" class="col-md-2 control-label">Rent ends</label>
            <div class="col-md-10">
                <input asp-for="RentFinish" class="form-control" type="date">
                <span asp-validation-for="RentFinish" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Rent" class="col-md-2 control-label">Rent cost</label>
            <div class="col-md-10">
                <input asp-for="Rent" class="form-control" />
                <span asp-validation-for="Rent" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Deposit" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Deposit" class="form-control" />
                <span asp-validation-for="Deposit" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClientId" class="col-md-2 control-label">Client Passport</label>
            <div class="col-md-10">
                <select asp-for="ClientId" class ="form-control" asp-items="ViewBag.ClientId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Duration" class="col-md-2 control-label">Duration (days)</label>
            <div class="col-md-10">
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
